
<html>
  <head>
    <link rel="stylesheet" href="navegator.component.css">

  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="https://jbfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           INICIO
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
  </body>
    </html>
3
