<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Lateral</title>
    <link rel="stylesheet" href="navegator.component.css">
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
              <!-- Link que redirige a la pagina principal -->
                <a [routerLink]="['/']" routerLinkActive="active">
                    <i class="fa fa-home nav-icon"></i>
                    <span class="nav-text">INICIO</span>
                </a>
            </li>
        </ul>
        <hr class="margen-icono">
        <div class="historial-text"> <b>Historial</b> </div> <hr>
        <!-- Bucle que crea accesos a las conversaciones cada vez que se añade una nueva conversacion al array conversaciones -->
        @for (conv of chatService.conversations; track conv) {
          <div class="styles-historial">
            <a (click)="loadConversation(conv.id)">{{ conv.title }}<hr></a>
          </div>
        }
        <!-- Botón que llama al método startNewChat cuando se hace click -->
        <button class="new-chat-btn" (click)="startNewChat()">Nuevo Chat</button>
        <!-- Botón que llama al método cleanHistory cuando se hace click -->
        <button class="new-chat-btn" (click)="cleanHistory()">Limpiar Historial</button>
    </nav>
</body>
</html>



